<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DeamonService.Properties.Settings.SRV4ConnectionString"
            connectionString="Data Source=10.3.1.16;Initial Catalog=SRV4;Persist Security Info=True;User ID=qmovil;Password=Qmovil2010*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>